@model IEnumerable<casino_oxana_back.Models.ApplicationUser>
@{
    ViewBag.Title = "Admin";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
    }

    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }

</style>

<h2>Admin</h2>
<body>
    <div id="container">
        <video autoplay="true" id="videoElement"></video>
    </div>
    <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
        }
    </script>
    <div class="btn-group-lg align-content-center">
        <button class="btn-light">Win</button>
        <button class="btn-light">Loose</button>
    </div>
    
    <table class="table text-white table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }

    </table>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/script")

</body>



