@using Microsoft.AspNet.Identity
@using casino_oxana_back.Models;

@{
    ViewBag.Title = "Roullette";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    #bal {
        float: right;
    }

    .holder {
        width: 800px;
        height: auto;
        margin: 0 auto;
    }

    .roulette {
        width: 100%;
        height: 340px;
        background: #40407a;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
    }

    .timer {
        width: 0%;
        height: 5px;
        background: tomato;
        transition: opacity .2s linear, width 5s linear;
    }

        .timer:after {
            display: block;
            content: '';
            clear: both;
        }

    .title {
        width: 500px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        color: #999;
        font-weight: 700;
        font-size: 40px;
        margin: 0 auto;
    }

    .ticker {
        width: 0;
        border-top: 20px solid #2c2c54;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        margin: 0 auto;
        transform: translateY(4px);
    }

    .static {
        width: 500px;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
    }

        .static:before {
            position: absolute;
            display: block;
            content: '';
            width: 500px;
            height: 50px;
            margin-bottom: -50px;
            box-shadow: inset 100px 0px 70px -70px #40407a,inset -100px 0px 70px -70px #40407a;
        }

    .scroll {
        width: calc(1450px * 8);
        height: 50px;
        background: red;
        margin: 0 auto;
        overflow: hidden;
        margin-left: calc(250px - 25px - (1450px * 1) - (50px * 0));
    }

    .rowx {
        width: 1450px;
        height: 50px;
        background: blue;
        float: left;
    }

    .box {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        float: left;
    }

        #green,
        .green,
        .box:nth-child(1) {
            background: green !important;
        }

        #red,
        .red,
        .box:nth-child(even) {
            background: red;
        }

        #black,
        .black,
        .box:nth-child(odd) {
            background: black;
        }

    #out {
        width: 100%;
        height: 120px;
        line-height: 120px;
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        transition: opacity .4s ease;
        transform: scale(0) rotate(0deg);
    }

    @@keyframes out {
        0% {
            transform: scale(0) rotate(0deg);
        }

        70% {
            transform: scale(1.1) rotate(2deg);
        }

        100% {
            transform: scale(1) rotate(0deg);
        }
    }

    .bet {
        width: 100%;
        height: 200px;
        background: #40407a;
        margin-top: 50px;
        border-radius: 5px;
    }

    .bet-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0px 20px;
        border-bottom: 1px solid RGBA(0,0,0,0.3);
        color: #999;
        box-sizing: border-box;
    }

    .button-holder {
        width: 510px;
        height: 40px;
        margin: 0 auto;
    }

    button {
        cursor: pointer;
        width: 150px;
        height: 40px;
        display: block;
        margin: 0 auto;
        background: RGBA(0,0,0,0.3);
        outline: 0;
        border: 1px solid RGBA(0,0,0,0.3);
        border-radius: 5px;
        color: #ddd;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    input[type="number"] {
        display: block;
        width: 300px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5px;
        background: RGBA(0,0,0,0.3);
        border: 1px solid RGBA(0,0,0,0.3);
        padding: 0px 0px 0px 20px;
        box-sizing: border-box;
        color: #ddd;
        outline: 0;
    }

    .bets-holder {
        width: 510px;
        height: 30px;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 5px;
    }

        .bets-holder .boxes {
            width: 150px;
            text-align: center;
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            color: #fff;
            font-weight: 700;
        }

    .navx {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background: #40407a;
        color: #ccc;
        font-weight: 700;
    }
</style>


<div class="holder">
    <div id="out">NUMBER</div>
    <div class="roulette">
        <div class="timer" id="timer"></div>
        <div class="title">ROULETTE</div>
        <div class="ticker"></div>
        <div class="static">
            <div class="scroll" id="scroll">
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
                <div class="rowx">
                    <div class="box">0</div>
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                    <div class="box">7</div>
                    <div class="box">8</div>
                    <div class="box">9</div>
                    <div class="box">10</div>
                    <div class="box">11</div>
                    <div class="box">12</div>
                    <div class="box">13</div>
                    <div class="box">14</div>
                    <div class="box">15</div>
                    <div class="box">16</div>
                    <div class="box">17</div>
                    <div class="box">18</div>
                    <div class="box">19</div>
                    <div class="box">20</div>
                    <div class="box">21</div>
                    <div class="box">22</div>
                    <div class="box">23</div>
                    <div class="box">24</div>
                    <div class="box">25</div>
                    <div class="box">26</div>
                    <div class="box">27</div>
                    <div class="box">28</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bet">
        <div class="bet-title bal"><div id="info" style="float: right"></div></div>
        <input type="number" id="bet" value="100" disabled />
        <div class="bets-holder">
            <div id="red-box" class="boxes">0</div>
            <div id="green-box" class="boxes">0</div>
            <div id="black-box" class="boxes">0</div>
        </div>
        <div class="button-holder">
            <button id="red" onclick="@Url.Action("Bet", "Roullette", new { betvalue = 100 })">RED</button>
            <button id="green" onclick="@Url.Action("Bet", "Roullette", new { betvalue = 100 })">GREEN</button>
            <button id="black" onclick="@Url.Action("Bet", "Roullette", new { betvalue = 100 })">BLACK</button>
        </div>

    </div>
    <div class="navx">
        <div class="holder">
            Balance
            <div id="bal" style="float: right"></div>
        </div>
    </div>
</div>

<div>
    <script type="text/javascript">
    var historys = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    var balance = parseInt(@User.Identity.GetUserBalance());
    var redBox = document.getElementById("red-box");
    var greenBox = document.getElementById("green-box");
    var blackBox = document.getElementById("black-box");
    var red = 0;
    var green = 0;
    var black = 0;
    var spinTime = 5;
    var rolling = false;
    var timerDiv = document.getElementById("timer");
    var balDiv = document.getElementById("bal");
    var out = document.getElementById("out");
    var timer = 0;

    function roll(c) {
        if (rolling == false) {
            rolling = true;
            var scroll = document.getElementById("scroll");

            var x = Math.floor(Math.random() * (28 + 1));
            out.innerHTML = "IT'S " + x;
            historys.splice(0, 0, x);

            scroll.style.transition = "margin " + spinTime + "s ease";
            scroll.style.marginLeft =
                "calc(250px - 25px - (1450px * 6) - (50px * " + x + "))";

            setTimeout(function () {
                scroll.style.transition = "margin 0s ease";
                scroll.style.marginLeft =
                    "calc(250px - 25px - (1450px * 1) - (50px * " + x + "))";
                rolling = false;
            }, spinTime * 1000);
            timerDiv.style.width = "100%";
            timerDiv.style.opacity = "0";
            setTimeout(function () {
                timerDiv.style.width = "0%";
            }, 1000);
            setTimeout(function () {
                var profit = 0;
                var infoDiv = document.getElementById("info");
                if (historyColours(x) == "red") {
                    balance += red * 2;
                    profit += parseInt(red);
                    @Html.Action("BetResult", "Roullette", new { winvalue = 200})
                    
                }
                if (historyColours(x) == "black") {
                    balance += black * 2;
                    profit += parseInt(black);
                    
                    @Html.Action("BetResult", "Roullette", new { winvalue = 200})
                    
                }
                if (historyColours(x) == "green") {
                    balance += green * 14;
                    profit += parseInt(green);
                    @Html.Action("BetResult", "Roullette", new { winvalue = 1400})
                    
                }
                infoDiv.innerHTML = "+" + profit;
                console.log("+" + profit);
                balDiv.innerHTML = balance;
                updateBet("clear");
            }, 4000);
            setTimeout(function () {
                out.style.opacity = "1";
                out.style.animation = "out .5s ease-out forwards";
            }, 5000);
            setTimeout(function () {
                out.style.opacity = "0";
            }, 7000);
            setTimeout(function () {
                out.style.animation = "";
            }, 7400);
        }
    }

    function loops() {
        timerDiv.style.width = "0%";
        timerDiv.style.opacity = "1";
        setTimeout(function () {
            timerDiv.style.width = "100%";
        }, 1);
        setTimeout(roll, 5000);
    }


    function updateBet(button) {
        if (rolling == false) {
            var bet = document.getElementById("bet").value;
            if (button == "red") {
                red += parseInt(bet);
            }
            if (button == "black") {
                black += parseInt(bet);
            }
            if (button == "green") {
                green += parseInt(bet);
            }
            redBox.innerHTML = red;
            greenBox.innerHTML = green;
            blackBox.innerHTML = black;
            balance = balance - bet;
            balDiv.innerHTML = balance;
        } else {
            if (button == "clear") {
                console.log("clear");
                red = 0;
                black = 0;
                green = 0;
                bet = 0;
            }
            redBox.innerHTML = red;
            greenBox.innerHTML = green;
            blackBox.innerHTML = black;
        }
    }

    function clearBet() {
        redBox.innerHTML = "";
        greenBox.innerHTML = "";
        blackBox.innerHTML = "";
    }

    document.getElementById("red").addEventListener("click", function () {
        updateBet("red");
    });

    document.getElementById("green").addEventListener("click", function () {
        updateBet("green");
    });

    document.getElementById("black").addEventListener("click", function () {
        updateBet("black");
    });

    balDiv.innerHTML = balance;
    loops();
    setInterval(loops, 12000);

    </script>
</div>